@use 'Variables';

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        font-size: Variables.$header_font_size;
    }

    p {
        font-size: Variables.$sub_header_font_size;
    }
}